<a href="https://colab.research.google.com/github/Srg-K/netology_pyda/blob/master/hw_bigdata_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('homework.csv')

In [14]:
df.head()

   ID     crim    zn  indus  chas  ...  tax  ptratio   black  lstat  medv
0   1  0.00632  18.0   2.31     0  ...  296     15.3  396.90   4.98  24.0
1   2  0.02731   0.0   7.07     0  ...  242     17.8  396.90   9.14  21.6
2   4  0.03237   0.0   2.18     0  ...  222     18.7  394.63   2.94  33.4
3   5  0.06905   0.0   2.18     0  ...  222     18.7  396.90   5.33  36.2
4   7  0.08829  12.5   7.87     0  ...  311     15.2  395.60  12.43  22.9

[5 rows x 15 columns]

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 333 entries, 0 to 332
Data columns (total 15 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       333 non-null    int64
 1   crim     333 non-null    float64
 2   zn       333 non-null    float64
 3   indus    333 non-null    float64
 4   chas     333 non-null    int64
 5   nox      333 non-null    float64
 6   rm       333 non-null    float64
 7   age      333 non-null    float64
 8   dis      333 non-null    float64
 9   rad      333 non-null    int64
 10  tax      333 non-null    int64
 11  ptratio  333 non-null    float64
 12  black    333 non-null    float64
 13  lstat    333 non-null    float64
 14  medv     333 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 39.1 KB

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [17]:
df.columns

Index(['ID', 'crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [0]:
X, y = df[['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad',
       'tax', 'ptratio', 'black', 'lstat']], df['medv']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [26]:
X_train.head()

        crim    zn  indus  chas    nox  ...  rad  tax  ptratio   black  lstat
175  0.53412  20.0   3.97     0  0.647  ...    5  264     13.0  388.37   7.26
257  5.29305   0.0  18.10     0  0.700  ...   24  666     20.2  378.38  18.76
331  0.06076   0.0  11.93     0  0.573  ...    1  273     21.0  396.90   5.64
14   0.85204   0.0   8.14     0  0.538  ...    4  307     21.0  392.53  13.83
126  0.06588   0.0   2.46     0  0.488  ...    3  193     17.8  395.56   7.56

[5 rows x 13 columns]

In [27]:
y_train.head()

175    43.1
257    23.2
331    23.9
14     19.6
126    39.8
Name: medv, dtype: float64

In [0]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [31]:
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

In [37]:
#A non-negative floating point value (the best value is 0.0), or an array of floating point values, one for each individual target.
mean_squared_error(y_test, reg.predict(X_test))

15.002651748099296

In [38]:
#The R^2 score or ndarray of scores if ‘multioutput’ is ‘raw_values’.
r2_score(y_test, reg.predict(X_test))

0.7172812460262535

In [39]:
#MAE output is non-negative floating point. The best value is 0.0.
mean_absolute_error(y_test, reg.predict(X_test))

2.860305273001709