<a href="https://colab.research.google.com/github/Srg-K/netology_pyda/blob/master/netology_sk_final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('netology_dataset.csv')

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92374 entries, 0 to 92373
Data columns (total 53 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              92374 non-null  int64
 1   amount               92374 non-null  int64
 2   is_invoice_sent      92374 non-null  int64
 3   is_bundle            92374 non-null  int64
 4   is_amo_lead          92374 non-null  int64
 5   access_days          91514 non-null  float64
 6   start_date_dow       91514 non-null  float64
 7   d1_complete          92374 non-null  int64
 8   d1_duration          92374 non-null  int64
 9   d2_complete          92374 non-null  int64
 10  d2_duration          92374 non-null  int64
 11  d3_complete          92374 non-null  int64
 12  d3_duration          92374 non-null  int64
 13  d4_complete          92374 non-null  int64
 14  d4_duration          92374 non-null  int64
 15  d5_complete          92374 non-null  int64
 16  d5_duration          92374 non-null  int64
 17  d6_complete          92374 non-null  int64
 18  d6_duration          92374 non-null  int64
 19  d7_complete          92374 non-null  int64
 20  d7_duration          92374 non-null  int64
 21  d8_complete          92374 non-null  int64
 22  d8_duration          92374 non-null  int64
 23  d9_complete          92374 non-null  int64
 24  d9_duration          92374 non-null  int64
 25  d10_complete         92374 non-null  int64
 26  d10_duration         92374 non-null  int64
 27  d11_complete         92374 non-null  int64
 28  d11_duration         92374 non-null  int64
 29  d12_complete         92374 non-null  int64
 30  d12_duration         92374 non-null  int64
 31  d13_complete         92374 non-null  int64
 32  d13_duration         92374 non-null  int64
 33  d14_complete         92374 non-null  int64
 34  d14_duration         92374 non-null  int64
 35  d15_complete         92374 non-null  int64
 36  d15_duration         92374 non-null  int64
 37  d16_complete         92374 non-null  int64
 38  d16_duration         92374 non-null  int64
 39  d17_complete         92374 non-null  int64
 40  d17_duration         92374 non-null  int64
 41  d18_complete         92374 non-null  int64
 42  d18_duration         92374 non-null  int64
 43  d19_complete         92374 non-null  int64
 44  d19_duration         92374 non-null  int64
 45  d20_complete         92374 non-null  int64
 46  d20_duration         92374 non-null  int64
 47  start_selfie         92374 non-null  int64
 48  dz1                  92374 non-null  int64
 49  dz2                  92374 non-null  int64
 50  final_selfie         92374 non-null  int64
 51  sent_video           92374 non-null  int64
 52  sent_messages_count  67236 non-null  float64
dtypes: float64(3), int64(50)
memory usage: 37.4 MB

In [0]:
df.dropna(subset = ["access_days"], inplace=True)

In [0]:
df['sent_messages_count'].fillna(0, inplace=True)

In [0]:
df['access_days'], df['start_date_dow'], df['sent_messages_count'] = df['access_days'].astype(int), df['start_date_dow'].astype(int), df['sent_messages_count'].astype(int)

In [0]:
df_filtered = df[['amount','is_invoice_sent','is_bundle','is_amo_lead','access_days','start_date_dow','d1_complete','d1_duration','d2_complete','d2_duration','d3_complete','d3_duration','d4_complete','d4_duration','d5_complete','d5_duration','d6_complete','d6_duration','d20_complete','start_selfie','dz1','sent_video','sent_messages_count']]

In [25]:
df_filtered.rename(columns={'d20_complete':'target'}, inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [26]:
df_filtered.head()

   amount  is_invoice_sent  is_bundle  ...  dz1  sent_video  sent_messages_count
4    1886                0          0  ...    0           0                    1
5    1990                0          0  ...    0           0                    0
6    3480                0          0  ...    0           1                    4
7    2350                0          0  ...    0           0                    0
8    1904                0          0  ...    0           0                    0

[5 rows x 23 columns]

In [0]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [28]:
df_filtered.columns

Index(['amount', 'is_invoice_sent', 'is_bundle', 'is_amo_lead', 'access_days',
       'start_date_dow', 'd1_complete', 'd1_duration', 'd2_complete',
       'd2_duration', 'd3_complete', 'd3_duration', 'd4_complete',
       'd4_duration', 'd5_complete', 'd5_duration', 'd6_complete',
       'd6_duration', 'target', 'start_selfie', 'dz1', 'sent_video',
       'sent_messages_count'],
      dtype='object')

In [0]:
X, y = df_filtered[['amount', 'is_invoice_sent', 'is_bundle', 'is_amo_lead', 'access_days',
       'start_date_dow', 'd1_complete', 'd1_duration', 'd2_complete',
       'd2_duration', 'd3_complete', 'd3_duration', 'd4_complete',
       'd4_duration', 'd5_complete', 'd5_duration', 'd6_complete',
       'd6_duration', 'start_selfie', 'dz1', 'sent_video',
       'sent_messages_count']], df_filtered[['target']]

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [0]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
X_train = pd.DataFrame(X_train, columns=X.columns)
X_test = pd.DataFrame(X_test, columns=X.columns)

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
clf = RandomForestClassifier(criterion='gini')

In [39]:
clf.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [41]:
accuracy_score(y_test, clf.predict(X_test))

0.8475659727913457

In [42]:
precision_score(y_test, clf.predict(X_test))

0.6668537749087847

In [43]:
recall_score(y_test, clf.predict(X_test))

0.5971349585322946

In [44]:
f1_score(y_test, clf.predict(X_test))

0.630071599045346